/* --------------- 
fonts
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* variabel */

:root {
  --main-color: #00cccc;
  --text-color: #ffffff;
  --grey: rgb(58, 57, 57);
  --white: #fff;
  --white-alpha-40: rgba(255, 255, 255, 0.6);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}

/* -----global settingan----- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(26, 26, 44), rgb(42, 42, 82));
  background-attachment: fixed;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 5vh 15px;
}
body.hide-scrolling {
  overflow-y: hidden;
}
body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--grey);
  z-index: -1;
  opacity: 0.12;
}
img {
  max-width: 80%;
  vertical-align: middle;
  border-radius: 20px;
}
section {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  min-height: 80vh;
  border-radius: 30px;
}
.main {
  max-width: 1200px;
  margin: auto;
}
.container {
  background-color: #2a4747;
  padding: 0 40px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}

/* home section */
.home-section {
  display: flex;
}

.home-text {
  background-color: rgb(64, 102, 89);
}
.home-img {
  background-color: cadetblue;
}

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}
.home-img .img-box {
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-25);
  margin: auto;
}

.home-img .img-box {
  width: 90%;
  border-radius: 25%;
}
